<form method="post">
    <label>Título</label>
    <input type="text" placeholder="Título da matéria" name="titulo">
    <p>Conteudo</p>
    <textarea name="texto" placeholder="Escreva sua matéria.."></textarea>
    <button type="submit">Enviar matéria</button>
</form>